Analysis/Intermediate results/Trained models/*
*.RData
.Rhistory
Data/Original data/*
~$*
*.docx
Documents/*
*.stan
*_nolatvar.rds
Analysis/R scripts/old/*
*.txt
*.pdf
*.jpeg
*.png
*.jpg
*.html
Analysis/Intermediate results/All_5models_1taxa_extrapol0.8temperature_no_DL_TableResults.csv
Analysis/Intermediate results/All_7models_59taxa_CV_no_DL_lme_tempTableResults.csv
