Analysis/Intermediate results/Trained models/*
*.RData
.Rhistory
Data/Original data/*
~$*
*.docx
Analysis/Plots/Explorative plots/*
Analysis/Plots/Models analysis plots/*
Documents/*
*.stan
*_nolatvar.rds
Analysis/R scripts/old/*
*.txt
